<div class="row">
    <div class="span12">
        <table class="table table-striped">
            <tr>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Address </th>
                <th> Town </th>
                <th> Postal Code </th>
                <th> email </th>
                <th> mobile </th>
                <th>  </th>
            </tr>

            <% @students.each do |student| %>
                <tr>
                    <td> <%= student.student_biodata.first_name %></td>
                    <td> <%= student.student_biodata.last_name %></td>
                    <td> <%= student.student_address.address %></td>
                    <td> <%= student.student_address.location_relation.town.name %></td>
                    <td> <%= student.student_address.location_relation.postal_code.code %></td>
                    <td> <%= student.student_biodata.email %></td>
                    <td> <%= student.student_biodata.mobile %></td>
                    <td> <%= link_to "Edit", edit_student_path(student), :class => 'btn btn-mini' %></td>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>