<div class="container">
    <div class="row">
        <div class="span12">
            <h3> Edit Student Details</h3>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <% if flash[:notice] %>
                <div class="alert alert-info"><%=h flash[:notice] %></div>
            <% end %>
        </div>
    </div>

    <%= p @student.inspect %>
    <%= p @course.inspect %>

    <form accept-charset="UTF-8" action="/students/update" class="form-horizontal" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
        <div class="row">
            <div class="span12">
                <div style="border: 1px #f5f5f5 solid;margin:10px 0 10px 0"></div>
            </div>
        </div>
        <%= render 'edit_student_form' %>

        <div class="row">
            <div class="span12">
                <div style="border: 1px #f5f5f5 solid;margin:10px 0 10px 0"></div>
            </div>
        </div>

        <%= render 'edit_student_gender_form' %>

        <div class="row">
            <div class="span12">
                <div style="border: 1px #f5f5f5 solid;margin:10px 0 10px 0"></div>
            </div>
        </div>

        <%= render 'edit_student_result_form' %>

        <div class="control-group" class="span12">
            <%= label :course_date, "Find Date", :class => "invisible" %>
            <div class="controls">
                <%= submit_tag "Update Student", :class => 'btn btn-primary', :id => 'update_student' %>
            </div>
        </div>

        <div class="bottom-gap-50"></div>

    </form>

</div>

<script type="text/javascript">
    $(function(){
        <% student_id = @student.student_id %>
        <% course_id = @course.id %>
        <% if student_id.present? %>
            $('#student_number').val('<%= @student.student_id %>');
        <% end %>

        <% if course_id.present? %>
            $('#course_hidden').val('<%= @course.id %>');
        <% end %>

        <% student_course_detail = @student.student_course_detail %>
        <% student_bio_data = @student.student_biodata %>
        <% student_demography = @student.student_demography %>
        <% student_address = @student.student_address %>


        <% if student_course_detail.present? %>
            $('#course_types').val('<%= student_course_detail.student_course_id %>');
            $('#additional_modules').val('<%= student_course_detail.addition_module_id %>');
            $('#date_enrolled').val('<%= l student_course_detail.enrolled_at %>');
            $('#student_industry').val('<%= student_course_detail.industry %>');
            $('#others').val('<%= student_course_detail.needs_specify %>');
            $('#comments').val('<%= student_course_detail.comments %>');
            $('#course_fee').val('<%= student_course_detail.course_fee %>');
            $('#payment_method').val('<%= student_course_detail.payment_method %>');
            $('#payment_date').val('<%= student_course_detail.payment_date %>');
            <% if student_course_detail.paid  %>
                $('#paid').attr('checked','checked');
            <% end %>
            $('#current_accreditation').val('<%= student_course_detail.current_accreditation %>');
            $('#current_expiry_date').val('<%= student_course_detail.current_expiry_date %>');
            $('#course_result').val('<%= student_course_detail.result %>');
            $('#course_special_modules').val('<%= student_course_detail.special_modules %>');

        <% end %>

        <% if student_bio_data.present? %>
            $('#first_name').val('<%= student_bio_data.first_name %>');
            $('#middle_name').val('<%= student_bio_data.middle_name %>');
            $('#last_name').val('<%= student_bio_data.last_name %>');
            $('#date_of_birth').val('<%= student_bio_data.date_of_birth %>');
            $('#phone').val('<%= student_bio_data.phone %>');
            $('#mobile').val('<%= student_bio_data.mobile %>');
            $('#email').val('<%= student_bio_data.email %>');
            $('#fax').val('<%= student_bio_data.fax %>');
            $('#gender').val('<%= student_bio_data.gender %>');


        <% end %>

        <% if student_address.present? %>

            $('#address').val('<%= student_address.address %>');
            $('#home_address').val('<%= student_address.home_address %>');
            $('#student_postal_code').val('<%= student_address.location_relation.postal_code.code %>');
            $('#student_postal_code_hidden').val('<%= student_address.location_relation.postal_code.id %>');
            $('#student_town').append("<option value="+"<%= student_address.location_relation.town.id %>"+" selected=selected>"+ "<%= student_address.location_relation.town.name %>"+"</option>");
            $('#student_state').append("<option value="+"<%= student_address.location_relation.state.id %>"+" selected=selected>"+ "<%= student_address.location_relation.state.name %>"+"</option>");

            <% if student_address.home_location_relation.present? %>
                $('#student_home_postal_code').val('<%= student_address.home_location_relation.try(:postal_code).try(:code) %>');
                $('#student_home_postal_code_hidden').val('<%= student_address.home_location_relation.try(:postal_code).try(:id) %>');
                $('#home_town').append("<option value="+"<%= student_address.home_location_relation.try(:town).try(:id) %>"+" selected=selected>"+ "<%= student_address.home_location_relation.try(:town).try(:name) %>"+"</option>");
                $('#home_state').append("<option value="+"<%= student_address.home_location_relation.try(:state).try(:id) %>"+" selected=selected>"+ "<%= student_address.home_location_relation.try(:state).try(:name) %>"+"</option>");
            <% end %>
        <% end %>

        <% @student.special_needs.each do |need|%>
            $('#<%= need.need_type %>').attr('checked','checked');
        <% end %>

        <% if student_demography.present? %>
            $('#country_of_birth').val('<%= student_demography.country_of_birth %>');
            $('#residency_status').val('<%= student_demography.residency_status %>');
            $('#employment_status').val('<%= student_demography.employment_status %>');
            $('#highest_education_level').val('<%= student_demography.highest_education_level %>');
            $('#study_reason').val('<%= student_demography.study_reason %>');
        <% end %>
    });

    $('#student_postal_code').typeahead(
            {
                minLength: 2,
                source : function(query, process) {
                    map = {};
                    postal_codes = [];
                    $.ajax({
                        url : '/postal_codes/code.json',
                        type : 'get',
                        data : 'code='+query,
                        dataType: 'JSON',
                        success : function(data) {
                            $.each(data, function(index, element) {
                                postal_codes.push(element.code);
                                map[element.code] = element;
                            });
                            process(postal_codes);
                        }
                    });
                },
                updater : function(item) {
                    $('#student_postal_code_hidden').val(map[item].id);
                    $('#student_postal_code').val(map[item].name);
                    return item;
                }

            }
    );

    $('#student_home_postal_code').typeahead(
            {
                minLength: 2,
                source : function(query, process) {
                    map = {};
                    postal_codes = [];
                    $.ajax({
                        url : '/postal_codes/code.json',
                        type : 'get',
                        data : 'code='+query,
                        dataType: 'JSON',
                        success : function(data) {
                            $.each(data, function(index, element) {
                                postal_codes.push(element.code);
                                map[element.code] = element;
                            });
                            process(postal_codes);
                        }
                    });
                },
                updater : function(item) {
                    $('#student_home_postal_code_hidden').val(map[item].id);
                    $('#student_home_postal_code').val(map[item].name);
                    return item;
                }

            }
    );

    $('#student_postal_code').change(function(){
        postal_code = $(this).val();
        console.log(postal_code);
        $.ajax({
            url : '/location_relations/postal_code.json',
            type : 'get',
            data : 'postal_code='+postal_code,
            dataType: 'JSON',
            success : function(data) {
                $('#student_town').empty();
                $('#student_state').empty();
                $('#student_town').append("<option value="+data[0].town_id+" selected=selected>"+data[0].town+"</option>");
                $('#student_state').append("<option value="+data[0].state_id+" selected=selected>"+data[0].state+"</option>");
                data.shift();
                $.each(data, function(index, element) {
                    $('#student_town').append("<option value="+element.town_id+">"+element.town+"</option>");
                    $('#student_state').append("<option value="+element.state_id+">"+element.state+"</option>");
                });

            }
        });
    });

    $('#student_home_postal_code').change(function(){
        postal_code = $(this).val();
        console.log(postal_code);
        $.ajax({
            url : '/location_relations/postal_code.json',
            type : 'get',
            data : 'postal_code='+postal_code,
            dataType: 'JSON',
            success : function(data) {
                $('#home_town').empty();
                $('#home_state').empty();
                $('#home_town').append("<option value="+data[0].town_id+" selected=selected>"+data[0].town+"</option>");
                $('#home_state').append("<option value="+data[0].state_id+" selected=selected>"+data[0].state+"</option>");
                data.shift();
                $.each(data, function(index, element) {
                    $('#home_town').append("<option value="+element.town_id+">"+element.town+"</option>");
                    $('#home_state').append("<option value="+element.state_id+">"+element.state+"</option>");
                });

            }
        });
    });


</script>