<div class="container">
    <div class="row">
        <div class="span12">
            <h3> Edit Student Details</h3>
        </div>
    </div>

    <%= p @student.inspect %>
    <%= p @course.inspect %>

    <form accept-charset="UTF-8" action="/students/update" class="form-horizontal" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
        <div class="row">
            <div class="span12">
                <div style="border: 1px #f5f5f5 solid;margin:10px 0 10px 0"></div>
            </div>
        </div>
        <%= render 'edit_student_form' %>

        <div class="row">
            <div class="span12">
                <div style="border: 1px #f5f5f5 solid;margin:10px 0 10px 0"></div>
            </div>
        </div>

        <%= render 'edit_student_gender_form' %>

        <div class="row">
            <div class="span12">
                <div style="border: 1px #f5f5f5 solid;margin:10px 0 10px 0"></div>
            </div>
        </div>

        <%= render 'edit_student_result_form' %>

        <div class="control-group" class="span12">
            <%= label :course_date, "Find Date", :class => "invisible" %>
            <div class="controls">
                <%= submit_tag "Update Student", :class => 'btn btn-primary', :id => 'update_student' %>
            </div>
        </div>

        <div class="bottom-gap-50"></div>

    </form>

</div>

<script type="text/javascript">
    $(function(){
        <% student_id = @student.student_id %>
        <% if student_id.present? %>
            $('#student_number').val('<%= @student.student_id %>');
        <% end %>

        <% student_course_detail = @student.student_course_details.where(:course_id => @course.id) %>
        <% student_course_detail = student_course_detail.first %>
        <% student_bio_data = @student.student_biodata %>
        <% student_address = @student.student_addresses.first %>


        <% if student_course_detail.present? %>
            $('#course_types').val('<%= student_course_detail.student_course_id %>');
            $('#additional_modules').val('<%= student_course_detail.addition_module_id %>');
            $('#date_enrolled').val('<%= l student_course_detail.enrolled_at %>');
        <% end %>

        <% if student_bio_data.present? %>
            $('#first_name').val('<%= student_bio_data.first_name %>');
            $('#middle_name').val('<%= student_bio_data.middle_name %>');
            $('#last_name').val('<%= student_bio_data.last_name %>');
            $('#date_of_birth').val('<%= student_bio_data.date_of_birth %>');
            $('#phone').val('<%= student_bio_data.phone %>');
            $('#mobile').val('<%= student_bio_data.mobile %>');
            $('#email').val('<%= student_bio_data.email %>');
            $('#fax').val('<%= student_bio_data.fax %>');

        <% end %>

        <% if student_address.present? %>

            $('#first_name').val('<%= student_bio_data.first_name %>');



        <% end %>






    });
</script>