<div class="container">
    <div class="row">
        <div class="span12">
            <h3> New Enquiry/Enrolment </h3>
        </div>
    </div>
    <div class="row">
            <div class="span3">
                <%= label_tag :state %>
                <% state_array = State.all.map {|state| [state.name, state.id]} %>
                <%= select_tag :state, options_for_select(state_array) %>
            </div>

            <div class="span3">
                <%= label_tag :town %>
                <input type="text" id="town" autocomplete="off" placeholder="Enter Town">
                <input type="hidden" id="town_hidden" name="town" value="" />
            </div>

            <div class="span3">
                <%= label_tag :available_course_dates %>
                <select id="course_dates" name="course_dates">
                    <option value=""></option>
                </select>
            </div>

            <div class="span3">
                <%= label_tag :venues %>
                <select id="venues" name="venues">
                    <option value=""></option>
                </select>
            </div>
    </div>
    <div class="row">
        <div class="span12">
            <div style="border: 1px #f5f5f5 solid;margin:10px 0 10px 0"></div>
        </div>
    </div>


    <%= render 'register_form' %>
</div>



<script type="text/javascript">

    $(function(){

        $(".datepicker").datepicker({ dateFormat: 'dd/mm/yy' });
    });

    $('#town').typeahead(
            {
                minLength: 4,
                source : function(query, process) {
                    map = {};
                    towns = [];
                    $.ajax({
                        url : '/towns/by_state.json',
                        type : 'get',
                        data : 'id='+$('#state').val(),
                        dataType: 'JSON',
                        success : function(data) {
                            $.each(data, function(index, element) {
                                towns.push(element.name);
                                map[element.name] = element;
                            });
                            process(towns);
                        }
                    });
                },
                updater : function(item) {
                    $('#town_hidden').val(map[item].id);
                    $('#town').val(map[item].name);
                    return item;
                }

            }
    );

    $('#town').change(function(){
        $.ajax({
            url : '/courses/by_town.json',
            type : 'get',
            data : 'id='+$('#town_hidden').val(),
            dataType: 'JSON',
            success : function(data) {
                $('#course_dates').empty();
                $('#course_dates').append("<option value="+data[0].course_date+" selected=selected>"+data[0].course_date+"</option>");
                data.shift();
                $.each(data, function(index, element) {
                    $('#course_dates').append("<option value="+element.course_date+">"+element.course_date+"</option>");
                });
                getVenuesForCourseDate();
            }
        });
    });

    var getVenuesForCourseDate = function() {
        $.ajax({
            url : '/venues/by_course_date.json',
            type : 'get',
            data : 'date='+$('#course_dates').val(),
            dataType: 'JSON',
            success : function(data) {
                $('#venues').empty();
                $('#venues').append("<option value="+data[0].id+" selected=selected>"+data[0].name+"</option>");
                data.shift();
                $.each(data, function(index, element) {
                    $('#venues').append("<option value="+element.id+">"+element.name+"</option>");
                });
            }

        });
    }

    $('#course_dates').change(function(){
        getVenuesForCourseDate();
    });



</script>

