<%- model_class = Student -%>
<div class="container">
    <div class="row">
        <div class="span12">
            <h3> Find Student </h3>
        </div>
    </div>
    <div class="row">
        <form accept-charset="UTF-8" action="/students" class="form-inline" method="get">
            <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>

            <div class="span3">
                <%= label_tag :lastname%> </br>
                <input type="text" id="last_name" name="last_name" autocomplete="off" value="<%= params[:last_name] %>">
            </div>


            <div class="span3">
                <%= label_tag :firstname %> </br>
                <input type="text" id="first_name" name="first_name" autocomplete="off" value="<%= params[:first_name] %>">
            </div>

            <div class="span3">
                <%= label_tag :student_id %> </br>
                <input type="text" id="student_id" name="student_id" autocomplete="off" value="<%= params[:student_id] %>">
            </div>

            <div class="span3">
                <%= label_tag :state %> </br>
                <% state_array = State.all.map {|state| [state.name, state.id]} %>
                <%= select_tag :state, options_for_select(state_array) %>
            </div>

            <div class="span3">
            <div class="control-group">
                <%= label_tag :enquiry %> </br>
                <div class="controls">
                    <select id="student_enquiry" name="enquiry">
                        <option value="0">Enquiry</option>
                        <option value="1">Enrolment</option>
                        <option value="2">Completed</option>
                    </select>
                </div>
            </div>
                </div>

            <div class="span3">
                <div class="control-group">
                    <%= label :course_date, "Find Date", :class => "invisible" %>
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="Find Students" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="span12">
            <div id="global-message" class="msg info">
                Find Students
            </div>
        </div>
    </div>

    <%= render 'search_table_container' %>
</div>
</div>


<script type="text/javascript">
    $(function(){
        $(".datepicker").datepicker({ dateFormat: 'dd/mm/yy' });
        $('#course_code').typeahead(
                {
                    minLength: 3,
                    source : function(query, process) {
                        courses = [];
                        $.ajax({
                            url : 'courses/code.json',
                            type : 'get',
                            data : 'code='+query,
                            dataType: 'JSON',
                            success : function(data) {

                                $.each(data, function(index, element) {
                                    courses.push(element.course_code);
                                });
                                process(courses);
                            }
                        });
                    }
                }
        );

        $('#town').typeahead(
                {
                    minLength: 3,
                    source : function(query, process) {
                        map = {};
                        towns = [];
                        $.ajax({
                            url : '../towns/name.json',
                            type : 'get',
                            data : 'name='+query,
                            dataType: 'JSON',
                            success : function(data) {
                                $.each(data, function(index, element) {
                                    towns.push(element.name);
                                    map[element.name] = element;
                                });
                                process(towns);
                            }
                        });
                    },
                    updater : function(item) {
                        $('#town_hidden').val(map[item].id);
                        $('#town').val(map[item].name);
                        return item;
                    }

                }
        );
    });
</script>

