<div class="span12">
    <h3> Listing Student</h3>
    <table class="table table-striped">
        <tr>
            <th> StudentId</th>
            <th> FirstName </th>
            <th> LastName</th>
            <th> Enquiry/Enrolment</th>
            <th>  </th>
        </tr>

        <tr>
            <td> <%=@student.try(:student_id) ? @student.student_id : "-" %></td>
            <td> <%=@student.student_biodata.try(:first_name) ? @student.student_biodata.first_name : "-" %></td>
            <td> <%=@student.student_biodata.try(:last_name) ? @student.student_biodata.last_name : "-" %></td>
            <td> <%=@student.student_course_detail.first.enquiry ? "Enquiry" : "Enrolment" %></td>
            <td> <%= link_to "Back", students_path, :class => 'btn btn-mini'  %> </td>
        </tr>
    </table>
</div>






