<div class="container">
    <div class="row">
        <div class="span12">
            <h3> Find Venue </h3>
        </div>
    </div>
    <div class="row">
        <%= form_tag venues_path, :method => "get", :class => "form-inline" do %>

            <div class="span3">
                <%= label_tag :town %> </br>
                <input type="text" id="town" autocomplete="off" placeholder="Enter Town">
                <input type="hidden" id="town_hidden" name="town" value="" />
            </div>

            <div class="span3">
                <div class="control-group">
                    <%= label :course_date, "Find Date", :class => "invisible" %>
                    <div class="controls">
                        <%= submit_tag "Find Venue", :class => 'btn btn-primary', :name => nil %>
                    </div>
                </div>
            </div>

        <% end %>
    </div>
    <div class="row">
        <div class="span12">
            <div id="global-message" class="msg info">
                Find Venues
            </div>
        </div>
    </div>

    <%= render 'venue_table_container' %>
</div>
</div>

<script type="text/javascript">
    $(function(){
        $('#town').typeahead(
                {
                    minLength: 3,
                    source : function(query, process) {
                        map = {};
                        towns = [];
                        $.ajax({
                            url : '../towns/name.json',
                            type : 'get',
                            data : 'name='+query,
                            dataType: 'JSON',
                            success : function(data) {
                                $.each(data, function(index, element) {
                                    towns.push(element.name);
                                    map[element.name] = element;
                                });
                                process(towns);
                            }
                        });
                    },
                    updater : function(item) {
                        $('#town_hidden').val(map[item].id);
                        $('#town').val(map[item].name);
                        return item;
                    }

                }
        );
    });
</script>


