<div class="row">
    <div class="span12">
        <table class="table table-striped">
            <tr>
                <th> CT Code </th>
                <th> Date </th>
                <th> Course Status </th>
                <th> Trainer </th>
                <th> Town </th>
                <th> State </th>
                <th> AQF II </th>
                <th> AQF III </th>
                <th> AQF IV </th>
                <th> NYC </th>
                <th>  </th>
                <th>  </th>
            </tr>

            <% @courses.each do |course| %>
                <tr>
                    <td> <%= course.course_code %></td>
                    <% if course.course_date.present? %>
                        <td> <%= l course.course_date %></td>
                    <% else %>
                        <td> </td>
                    <% end %>
                    <td> <% if course.course_status.present?  %>
                            <%= course.course_status.status %>
                         <% else %>
                            <td> </td>
                        <% end %>
                    </td>
                    <td> <%=course.try(:trainer).try(:name) %></td>
                    <td> <%=course.try(:location_relation).try(:town).try(:name) %></td>
                    <td> <%=course.try(:location_relation).try(:state).try(:name) %></td>
                    <td> <%=course.student_course_details.where(:result => 'AQFII').size %></td>
                    <td> <%=course.student_course_details.where(:result => 'AQFIII').size %></td>
                    <td> <%=course.student_course_details.where(:result => 'AQFIV').size %></td>
                    <td> <%=course.student_course_details.where(:result => 'NYC').size %></td>
                    <td> <%= link_to "Show", course, :class => 'btn btn-primary btn-mini'%></td>
                    <td> <%= link_to "Edit", process_courses_path(course_code: course.course_code), :class => 'btn btn-mini' %></td>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>

