<%= form_for @course,:html => { :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
        <%= f.label :rto, :class => 'control-label' %>
        <div class="controls">
            <% rto_array = TrainingOrganization.all.map {|rto| [rto.name, rto.id]} %>
            <%= f.select :training_organization, options_for_select(rto_array) %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :correspondence, :class => 'control-label' %>
        <div class="controls">
        <%= f.check_box :is_correspondence %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :course_code, :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :course_code, :class => 'text_field' %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :course_date, :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :course_date, :class => 'text_field datepicker' %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :state, :class => 'control-label' %>
        <div class="controls">
            <select id="course_state" name="course[state]">
                <% if @states.present? %>
                    <% @states.each do |state| %>
                        <option value="<%=state.id %>"><%=state.try(:name) %></option>
                    <% end %>
                <% end %>
            </select>
        </div>
    </div>

    <!-- populate this based on the other states -->

    <div class="control-group">
        <%= f.label :town, :class => 'control-label' %>
        <div class="controls">
            <select id="course_town" name="course[town]">
                <% if @states.present? %>
                    <% @states.each do |state| %>
                        <option value="<%=state.id %>"><%=state.try(:name) %></option>
                    <% end %>
                <% end %>
            </select>
        </div>
    </div>

    <!-- populate this based on the towns-->

    <div class="form-actions">
        <%= f.submit "create course", :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    courses_path, :class => 'btn' %>
    </div>
<% end %>

