<div class="row">
<div class="span12">
    <table class="table table-striped">
        <tr>
            <th> CT Code </th>
            <th> Date </th>
            <th> Trainer</th>
            <th> Location </th>
            <th> Initials </th>
            <th> Refreshers </th>
            <th> AQFII </th>
            <th> AQFIV </th>
            <th> Weeds </th>

            <th>  </th>
            <th>  </th>
        </tr>

        <% @courses.each do |course| %>
            <tr>
                <td> <%= course.course_code %></td>
                <td> <%= l course.course_date %></td>
                <td> <%= course.trainer.name %></td>
                <td> <%= course.location_relation.town.name %></td>

                <% initials = course.student_course_details.joins(:student_course).where("student_courses.type_name = ?", 'Initial').size %>
                <% refreshers = course.student_course_details.joins(:student_course).where("student_courses.type_name = ?", 'Refresher').size %>
                <% aqf2 = course.student_course_details.joins(:student_course).where("student_courses.type_name = ?", 'AFQ II').size %>
                <% aqf4 = course.student_course_details.joins(:student_course).where("student_courses.type_name = ?", 'AFQ IV').size %>
                <% weeds = course.student_course_details.joins(:additional_module).where("additional_modules.type_name = ?", 'weeds').size %>
                <td> <%= initials %></td>
                <td> <%= refreshers %></td>
                <td> <%= aqf2 %></td>
                <td> <%= refreshers %></td>
                <td> <%= weeds %></td>
                <td> <%= link_to "Show", course, :class => 'btn btn-primary btn-mini'%></td>
                <td> <%= link_to "Edit", edit_course_path(course), :class => 'btn btn-mini' %></td>
                </td>
            </tr>
        <% end %>
    </table>
</div>
</div>