<%= form_for @course,:html => { :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
        <%= f.label :rto, :class => 'control-label' %>
        <div class="controls">
            <% rto_array = TrainingOrganization.all.map {|rto| [rto.name, rto.id]} %>
            <%= f.select :training_organization, options_for_select(rto_array) %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :correspondence, :class => 'control-label' %>
        <div class="controls">
        <%= f.check_box :is_correspondence %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :course_code, :class => 'control-label' %>
        <div class="controls">
            <div class="form-inline">
            <%= f.text_field :course_code, :class => 'input-small' %>
                <span style="font-size: 20px; margin-left:10px">
                    <%=  (Course.last.try(:id).present? ? Course.last.id : 0) +1 unless @course.course_code.present? %>
                </span>
            </div>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :course_date, :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :course_date, :class => 'text_field datepicker' %>
        </div>
    </div>

    <!-- this is the postal code, this should populate the state and town-->
    <div class="control-group">
        <%= f.label :postal_code, :class => 'control-label' %>
        <div class="controls">
            <input type="text" id="course_postal_code" autocomplete="off" placeholder="Enter Postal Code" >
            <input type="hidden" id="course_postal_code_hidden" name="course[postal_code]" />
        </div>
    </div>

    <div class="control-group">
        <%= f.label :town, :class => 'control-label' %>
        <div class="controls">
            <select id="course_town" name="course[town]">
                <option value=""></option>
            </select>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :state, :class => 'control-label' %>
        <div class="controls">
            <select id="course_state" name="course[state]">
            <option value=""></option>
        </select>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :venue, :class => 'control-label' %>
        <div class="controls">
            <select id="course_venue" name="course[venue]">
                <option value=""></option>
            </select>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :trainer, :class => 'control-label' %>
        <div class="controls">
            <% rto_array = Trainer.all.map {|rto| [rto.name, rto.id]} %>
            <%= f.select :trainer, options_for_select(rto_array) %>
        </div>
    </div>


    <div class="form-actions">
        <%= f.submit "create course", :id => 'create_course', :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    courses_path, :class => 'btn' %>
    </div>
<% end %>

<script type="text/javascript">

    $(function(){

        <% if @course.course_code.present? %>
            console.log("<% @course.course_code %>");
            $('#course_course_code').val('<%= @course.course_code %>');
        <% else %>
            $('#course_course_code').val('CT');
        <% end %>

        <% if @course.location_relation.try(:postal_code).present? %>
            $('#course_postal_code').val('<%= @course.location_relation.postal_code.code %>');
            $('#course_postal_code_hidden').val('<%= @course.location_relation.postal_code.id %>');

        <% end %>

        $(".datepicker").datepicker({ dateFormat: 'dd/mm/yy' });
        $('#course_postal_code').typeahead(
                {
                    minLength: 2,
                    source : function(query, process) {
                        map = {};
                        postal_codes = [];
                        $.ajax({
                            url : '/postal_codes/code.json',
                            type : 'get',
                            data : 'code='+query,
                            dataType: 'JSON',
                            success : function(data) {
                                $.each(data, function(index, element) {
                                    postal_codes.push(element.code);
                                    map[element.code] = element;
                                });
                                process(postal_codes);
                            }
                        });
                    },
                    updater : function(item) {
                        $('#course_postal_code_hidden').val(map[item].id);
                        $('#course_postal_code').val(map[item].name);
                        return item;
                    }

                }
        );

        $('#course_is_correspondence').change(function(){
            if($(this).is(":checked")) {
                $('#course_course_code').val('CTC');
                return;
            }
            $('#course_course_code').val('CT');
        });
    });

    <% if @course.training_organization_id.present? %>
        $('#course_training_organization').val("<%= @course.training_organization_id %>");
    <% end %>

    <% if @course.course_code.present? %>
        console.log("<% @course.course_code %>");
        $('#course_course_code').val('<%= @course.course_code %>');
    <% end %>

    $('#course_postal_code').change(function(){
        console.log("inside postal_code changed");
        postal_code = $(this).val();
        console.log(postal_code);
        $.ajax({
            url : '/location_relations/postal_code.json',
            type : 'get',
            data : 'postal_code='+postal_code,
            dataType: 'JSON',
            success : function(data) {
                $('#course_town').empty();
                $('#course_state').empty();
                $('#course_venue').empty();
                $('#course_town').append("<option value="+data[0].town_id+" selected=selected>"+data[0].town+"</option>");
                $('#course_state').append("<option value="+data[0].state_id+" selected=selected>"+data[0].state+"</option>");
                $('#course_venue').append("<option value="+data[0].venue_id+" selected=selected>"+data[0].venue+"</option>");
                data.shift();
                $.each(data, function(index, element) {
                    $('#course_town').append("<option value="+element.town_id+">"+element.town+"</option>");
                    $('#course_state').append("<option value="+element.state_id+">"+element.state+"</option>");
                    $('#course_state').append("<option value="+element.venue_id+">"+element.venue+"</option>");
                });

            }
        });
    });


    <% if @postal_code_selected.present? && @town_selected.present? && @state_selected.present? && @venue_selected.present? %>

        $('#course_postal_code').val('<%=@postal_code_selected.code%>');
        $('#course_town').append("<option value="+"<%= @town_selected.id %>"+" selected=selected>"+ "<%= @town_selected.name %>"+"</option>");
        $('#course_state').append("<option value="+"<%= @state_selected.id %>"+" selected=selected>"+ "<%= @state_selected.name %>"+"</option>");
        $('#course_venue').append("<option value="+"<%= @venue_selected.id %>"+" selected=selected>"+ "<%= @venue_selected.name %>"+"</option>");


    <% end %>

</script>
