<div class="container">

    <!--heading-->
    <div class="row">
        <div class="span12">
            <h3> Process Course</h3>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <% if flash[:notice] %>
                <div class="alert alert-danger"><%=flash[:notice] %></div>
            <% end %>
        </div>
    </div>




    <!--course ajax form-->
    <form accept-charset="UTF-8" action="/courses/process" class="form-horizontal" method="get">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
        <div class="row">
                <div class="span3">
                    <input class="text_field" id="course_code" name="course_code" autocomplete="off" placeholder="Enter course code" type="text" value="<%= params[:course_code]%>"/>
                </div>

                <div class="span3">
                    <%= submit_tag "Find course", :class => 'btn btn-primary', :name => nil %>
                </div>
        </div>
    </form>

    <!--course ajax table filler-->
    <div class="row">
        <div class="span12">
            <%= render 'course_ajax_filler_table_container' %>
        </div>
    </div>

    <!--the data input form-->
    <div class="row">
        <div class="span12">
            <%= render 'course_process_form'%>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div style="border: 1px #f5f5f5 solid;margin:10px 0 10px 0"></div>
        </div>
    </div>

    <!--header-->
    <div class="row">
        <div class="span12">
            <h3>List of Student Names</h3>
        </div>
    </div>

    <!--list of student names-->
    <div class="row">
        <div class="span6">
            <%= render 'course_student_payment_table_container' %>
        </div>
    </div>

    <div class="bottom-gap-50"></div>
</div>

<script type="text/javascript">
    $(function(){
        <% if @course.first.present? %>
            <% course = @course.first %>
            <% course_process_detail = course.course_process_detail %>
            <% if course_process_detail.present? %>
                    <% if course_process_detail.performa_received_at.present? %>
                        $('#proforma_received').val('<%= l course_process_detail.performa_received_at %>');
                    <% else %>
                        $('#proforma_received').val('');
                    <% end %>

                    <% if course_process_detail.course_received_at.present? %>
                        $('#course_received').val('<%= l course_process_detail.course_received_at %>');
                    <% else %>
                        $('#course_received').val('');
                    <% end %>
                $('#course_finish_time').val('<%= course_process_detail.course_finish_time %>');
                $('#venue_rating').val('<%= course_process_detail.venue_rating %>');
                $('#inhouse_client').val('<%= course_process_detail.inhouse_client %>');
                $('#cash_received').val('<%= course_process_detail.cash_received %>');
                $('#trainer_invoice').val('<%= course_process_detail.trainer_invoice_po %>');
                $('#trainer_payment').val('<%= course_process_detail.trainer_payment_amount %>');
                $('#quality_indicators_received').val('<%= course_process_detail.quality_indicators_received %>');
                $('#course_comments').val('<%= course_process_detail.comments %>');
                <% if course_process_detail.t4_received  %> $('#t4_received').attr('checked','checked'); <% end %>
                <% if course_process_detail.declaration_form_signed  %> $('#declaration_form').attr('checked','checked'); <% end %>
                <% if course_process_detail.enrolment_form_signed  %> $('#enrolment_form').attr('checked','checked'); <% end %>
                <% if course.course_status %>
                    $('#course_status').val(1);
                <% else %>
                    $('#course_status').val(0);
                <% end %>
            <% end %>
        <% end %>

    });

    $('#course_code').typeahead(
            {
                minLength: 3,
                source : function(query, process) {
                    courses = [];
                    $.ajax({
                        url : '../courses/code.json',
                        type : 'get',
                        data : 'code='+query,
                        dataType: 'JSON',
                        success : function(data) {

                            $.each(data, function(index, element) {
                                courses.push(element.course_code);
                            });
                            process(courses);
                        }
                    });
                }
            }
    );


</script>
