<div class="container">

    <!--heading-->
    <div class="row">
        <div class="span12">
            <h3> Process Course</h3>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <% if flash[:notice] %>
                <div class="alert alert-info"><%=h flash[:notice] %></div>
            <% end %>
        </div>
    </div>




    <!--course ajax form-->
    <form accept-charset="UTF-8" action="/courses/process" class="form-horizontal" method="get">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
        <div class="row">
                <div class="span3">
                    <input class="text_field" id="course_code" name="course_code" placeholder="Enter course code" type="text" value="<%= params[:course_code]%>"/>
                </div>

                <div class="span3">
                    <%= submit_tag "Find course", :class => 'btn btn-primary', :name => nil %>
                </div>
        </div>
    </form>

    <!--course ajax table filler-->
    <div class="row">
        <div class="span12">
            <%= render 'course_ajax_filler_table_container' %>
        </div>
    </div>

    <!--the data input form-->
    <div class="row">
        <div class="span12">
            <%= render 'course_process_form'%>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div style="border: 1px #f5f5f5 solid;margin:10px 0 10px 0"></div>
        </div>
    </div>

    <!--header-->
    <div class="row">
        <div class="span12">
            <h3>List of Student Names</h3>
        </div>
    </div>

    <!--list of student names-->
    <div class="row">
        <div class="span6">
            <%= render 'course_student_payment_table_container' %>
        </div>
    </div>

    <div class="bottom-gap-50"></div>
</div>
