<%- model_class = Course -%>
<div class="container">
    <div class="row">
        <div class="span9">
            <h3> Find Course </h3>
        </div>
    </div>
    <div class="row">
            <%= form_tag courses_path, :method => "get", :class => "form-inline" do %>
                <div class="span3">
                    <%= label_tag :course_code %>
                    <% course_code_array = Course.all.map {|course| [course.course_code]} %>
                    <%= select_tag :course_code, options_for_select(course_code_array) %>
                </div>


                <div class="span3">
                    <%= label_tag :town %> </br>
                    <% town_array = Town.all.map {|town| [town.name, town.id]} %>
                    <%= select_tag :town, options_for_select(town_array) %>
                </div>

                <div class="span3">
                    <%= label_tag :course_date %>
                    <%= text_field_tag :course_date, nil, :class => 'text_field datepicker' %>
                </div>
                <div class="span3">
                    <div class="control-group">
                        <%= label :course_date, "Find Date", :class => "invisible" %>
                        <div class="controls">
                            <%= submit_tag "Find course", :class => 'btn btn-primary', :name => nil %>
                            </div>
                        </div>
                </div>

            <% end %>
        </div>
    <div class="row">
        <div class="span12">
            <div id="global-message" class="msg info">
                Find Courses
            </div>
        </div>
    </div>

    <%= render 'course_table_container' %>
</div>
</div>

