<%- model_class = Course -%>
<div class="container">
    <div class="row">
        <div class="span9">
            <h3> Find Course </h3>
        </div>
    </div>
    <div class="row">
            <%= form_tag courses_path, :method => "get", :class => "form-inline" do %>
                <div class="span3">
                    <%= label_tag :course_code%> </br>
                    <% courses = Course.all %>
                    <select id="course_code" name="course_code">
                        <option value="" ></option>
                        <% if courses.present? %>
                            <% courses.each do |course| %>
                                <option value="<%=course.course_code %>"><%=course.course_code %></option>
                            <% end %>
                        <% end %>
                    </select>
                </div>


                <div class="span3">
                    <%= label_tag :town %> </br>
                    <% towns = Town.all %>
                    <select id="town" name="town">
                        <option value=""></option>
                        <% if towns.present? %>
                            <% towns.each do |town| %>
                                <option value="<%=town.id %>"><%=town.name %></option>
                            <% end %>
                        <% end %>
                    </select>
                </div>

                <div class="span3">
                    <%= label_tag :course_date %>
                    <%= text_field_tag :course_date, params[:course_date], :class => 'text_field datepicker' %>
                </div>
                <div class="span3">
                    <div class="control-group">
                        <%= label :course_date, "Find Date", :class => "invisible" %>
                        <div class="controls">
                            <%= submit_tag "Find course", :class => 'btn btn-primary', :name => nil %>
                            </div>
                        </div>
                </div>

            <% end %>
        </div>
    <div class="row">
        <div class="span12">
            <div id="global-message" class="msg info">
                Find Courses
            </div>
        </div>
    </div>

    <%= render 'course_table_container' %>
</div>
</div>


<script type="text/javascript">
    $(function(){
        $(".datepicker").datepicker({ dateFormat: 'dd/mm/yy' });
        $('#course_code').select2(
                {
                    placeholder: 'Select Course code',
                    allowClear: true
                }
        );

        $('#town').select2(
                {
                    placeholder: 'Select Town',
                    allowClear: true,
                    minimumInputLength: 3
                }
        );
    });
</script>

