<%- model_class = Trainer -%>
<div class="span5">
    <h3> Listing Trainer</h3>
    <table class="table table-striped">
        <tr>
            <th> <%= model_class.human_attribute_name(:name) %> </th>
            <th> <%= model_class.human_attribute_name(:provider) %> </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
            <tr>
                <td> <%= @trainer.name %></td>
                <td> <%= @trainer.provider %></td>
                <td> <%= link_to "Back", trainers_path, :class => 'btn btn-mini'  %> </td>
                <td> <%= link_to "Edit", edit_trainer_path(@trainer), :class => 'btn btn-mini' %></td>
                <td> <%= link_to "Remove", @trainer,
                                 method: :delete,
                                 data: { confirm: "Are you sure?" },
                                 :class => 'btn btn-mini btn-danger'

                %></td>
            </tr>

    </table>
</div>








