<div id="container">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="#">CSES</a>
        <ul class="nav">
            <li class="divider-vertical"></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="<%= root_path %>">Courses
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="<%= new_course_path %>">Add new Course</a></li>
                    <li><a href="<%= courses_path %>">Find Courses</a></li>
                    <li><a href="<%= schedule_courses_path %>">Course Schedule</a></li>
                    <li class="dropdown-submenu">
                        <a href="#">Pre Course Documents</a>
                            <ul class="dropdown-menu">
                                <li><a href="<%= confirmation_courses_path %>">Generate Confirmation</a></li>
                                <li><a href="<%= proforma_courses_path %>">Generate Performa</a></li>
                            </ul>
                    </li>
                </ul>
            </li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="<%= root_path %>">Students
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="<%= students_path %>">Search Student</a></li>
                    <li><a href="<%= register_students_path %>">Student Enquiry/Enrolment</a></li>
                </ul>
            </li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="<%= root_path %>">Course Processing
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="<%= process_courses_path %> ">Process Course</a></li>
                    <li><a href="<%= status_courses_path %>">Course Status</a></li>
                    <li class="dropdown-submenu">
                        <a href="#">Print Documents</a>
                        <ul class="dropdown-menu">
                            <li><a href="<%= merge_courses_path %>">Generate Merge file</a></li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li class="divider-vertical"></li>
            <li><a href="#">Reports</a></li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="<%= root_path %>">Resources
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                        <a href="#">Trainers</a>
                        <ul class="dropdown-menu">
                            <li><a href="<%= new_trainer_path %>">Add new Trainer</a></li>
                            <li><a href="<%= trainers_path %>">View Trainers</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#">Venues</a>
                        <ul class="dropdown-menu">
                            <li><a href="<%= new_venue_path %>">Add new Venues</a></li>
                            <li><a href="<%= venues_path %>">View venues</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#">RTO</a>
                        <ul class="dropdown-menu">
                            <li><a href="<%= new_training_organization_path %>">Add new RTOs</a></li>
                            <li><a href="<%= training_organizations_path %>">View RTOs</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="divider-vertical"></li>
        </ul>
    </div>
</div>
</div>

